<div class="task-column">
    <h3><%= title %></h3>
    <% issues.each do |issue| %>
        <div class="issue">
            <a href="/issues/<%= issue.id %>">
            #<%= issue.id %> - 
            <%= issue.subject %>
            </a>
        </div>
    <% end %>
</div>