<h2>Choose a version</h2>

<ul id="version-choice">
<% @project.versions.each do |version| %>
    <% if version.status == 'open' %>
        <li><%= link_to version.name, '/task_boards/show/' + version.id.to_s + '?project_identifier=' + version.project.identifier.to_s %></li>
    <% end %>
<% end %>
</ul>